nav#mainNav.kind-section, nav#mainNav.kind-taxonomy, nav#mainNav.kind-term {
    .navbar-brand {
        color: black;
    }

    a.nav-link {
        color: black
    }
}

.archive {
    margin-top: 70px;

    font-family: $global-font-family;
    font-size: $global-font-size;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-family: $global-font-family;
    }

    .single-title {
        margin-bottom: 20px;
      text-align: right;
    }
  
    .group-title {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  
    @import "../_partial/_archive/terms";
    @import "../_partial/_archive/tags";

    ul.pagination {
      margin-top: 16px;
    }
  }
  