{{- $tally := .Site.Params.contact.tally -}}
{{- if $tally.enable -}}

{{/*  put the link in the center  */}}
<br>
<hr>
<br>
<div>
<a style="display: block; margin: auto" href="https://tally.so#tally-open=nPdWkB&tally-overlay=1&tally-emoji-text=👋&tally-emoji-animation=wave">
    <button style="align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;">☎ 和我们联系</button>
    <!-- HTML !-->

</a>
</div>

{{- $source := "lib/tally/embed.js" -}}
{{- dict "Source" $source | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- $source := (printf "Tally.openPopup('%s');" $tally.id) -}}
{{- $scriptArr := (.Page.Scratch.Get "this").scriptArr | default slice -}}
{{- $scriptArr | append $source | .Page.Scratch.SetInMap "this" "scriptArr" -}}
{{- end -}}